@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  font-family: "Poppins", sans-serif;
}

@font-face {
  font-family: 'D-DIN-Bold';
  src: url('/path-to-your-fonts/D-DIN-Bold.woff2') format('woff2'),
       url('/path-to-your-fonts/D-DIN-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  @apply m-0 p-0 box-border bg-[#ffffff];
}

.showRightGray::before {
  @apply absolute top-0 right-0 w-full h-full bg-gray-50 animate-showRightGray;
  content: "";
  z-index: 10; /* Adjust this value as needed */
}
.showRightGray {
  @apply relative overflow-hidden;
}

.showRightWhite::after {
  @apply absolute top-0 right-0 w-full h-full bg-white animate-showRightWhite;
  content: "";
  z-index: 10; /* Adjust this value as needed */
}

.showRightWhite {
  @apply relative overflow-hidden;
}

/* Applying D-DIN-Bold font */
.D-DIN-Bold {
  font-family: 'D-DIN-Bold', Arial, Verdana, sans-serif;
}
